
    <section class="hero is-info is-medium is-bold">
      <div class="hero-head">
        <nav class="navbar">
          <div class="container">
            <div class="navbar-brand">
              <span class="navbar-item">

              </span>
              <span class="navbar-item">

              </span>
              <span class="navbar-item">

              </span>
              <span class="navbar-item">

              </span>
              <span class="navbar-item">

              </span>
              <a routerLink="" Active="active"class="navbar-item" >
                <img src="./assets/mathomoney1.jpg" alt="Mathomoney1">
              </a>
              <span class="navbar-burger burger" data-target="navbarMenu">
                <span></span>
                <span></span>
                <span></span>
              </span>
            </div>
            <div id="navbarMenu" class="navbar-menu">
              <div class="navbar-end">
                <a routerLink="/play" Active="active" class="navbar-item is-active">
                  Play
                </a>
                <a class="navbar-item">

                </a>
                <span class="navbar-item">

                </span>
                <span class="navbar-item">

                </span>
                <span class="navbar-item">

                </span>
                <span class="navbar-item">

                </span>
                <span class="navbar-item">

                </span>
                <span class="navbar-item">

                </span>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </section>

  <router-outlet></router-outlet>
