<section class="hero is-info is-fullheight">
<div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h1 class="title">
            Enjoy Math
          </h1>
          <h2 class="subtitle">
             A decentralized Math game for you to get rewared tokens.
          </h2>
          <!-- <div class="box">

            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Enter your email">
              </p>
              <p class="control is-centered">
                <a class="button is-info" routerLink="/meta-sender" routerLinkActive="active">
                  Notify Me
                </a>

              </p>
            </div>
          </div> -->
          <div class="buttons has-addons is-centered">
  <span routerLink="/play" Active="active" class="button is-normal is-info is-inverted">Play Now</span>
</div>
        </div>
      </div>
    </div>

  </section>
